.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

.list-heading h4{
	font-size:16px;
	color:#f2f2f2;
	font-family:roboto;
}

#cart {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    margin-top: 75px;
	margin-bottom: 45px;
}
   
   .course-cart{
    font-size: 20px;
    font-weight: 400;  
	}
	.cart-img img{
		height:76px;
	}
.nomargin{
	    font-weight: 600
}
.Price a{
	color: #007791 !important;
	font-size:12px;
}
.Quantity a{
	    color: #ec5252 !important;
		font-size:15px;
		font-weight:900;
}
.Quantity .glyphicon-home{
	    color: #ec5252 !important;
		font-size:15px;
		font-weight:900;
}

.btn-primary {
    color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;
	font-size:20px;
}
.btn-block {
    display: block;
    width: 100%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-addon{
    color: #fff;
    background-color: #007791;
    border: 1px solid transparent;
	
   
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 11px 12px;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.save-txt a{
	margin-top:20px;
	font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
	font-family:roboto;
}
.save-txt p{
	color: #686f7a;
}
.h11, .a11 {
    font-size: 13px;
	line-height:1.43;
}

.styles--coupon-box__attempts--3xEXq .styles--coupon-box__attempt--latest--applied--3MBnx {
    animation-duration: 3s;
    animation-name: styles--applied-attempt--28r1T;
    color: #686f7a;
}
.styles--coupon-box__attempts--3xEXq {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1.573;
    margin-bottom: 10px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.styles--coupon-box__attempt-code--1z86w a{
font-size: 13px;	
}
.price-text--black--1qJbH {
    color: #29303b;
   font-weight: 600;
   font-size: 36px;


}
#list-heading{
	padding-bottom:45px;
}
.bestseller-info {
    position: absolute;
    top: 4%;
    /* right: 3%; */
    padding: 1px;
    text-align: center;
    width: 66px;
    height: 25px;
    background-color: orange;
    color: #ffffff;
}
.bestseller-info p{
	color:#ffffff;
	font-size:11px;
	font-family:roboto;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}