.categories-section{
padding-top:70px;
}
 .category-caption h2 {
    color: #273044;
     color: #273044;
     letter-spacing: -2.2px;
    font-weight: 600;
    font-size: 40px;
    font-family: roboto;
	font-family: roboto;

}
.section-caption h2{
	color: #273044;
    font-size: 26px;
    font-family: roboto;
}
.category-rating{
	padding-bottom:40px;
}
   .Wishlist a {
    font-size: 18px;
    color: #212121;
    padding-top: 20px;
}
.categorylist a{
    font-size: 18px;
        color: #273044;
}
#categorylist-txt li a {
	display:inlline-flex;
     font-size: 18px;
       color: #273044;
	padding:2px;
	 font-family: roboto;
}
#categorylist-txt ul {
	    display: -webkit-inline-box;

}
.categorylist{
	    padding-top: 22px;

}
#category-info .fa-star {
    font-size: 20px;
    padding-top: 22px;
   float:right;
}
#category-info a {
    font-size: 20px;
    padding-top: 22px;
   float:right;
}

#category-info p{
	float:right;
}
.download-buttn{
    padding-top: 64px;

}
.category-caption2{
padding: 25px 0px;
}
.badge{
	color:#ffffff;
	background-color:transparent;
}
 
   /* border-radius: 10px; */
.download-buttn .btn {
	background-color: #5cbc87!important;
    padding-top: 23px;
    padding-right: 40px;
    padding-bottom: 23px;
    padding-left: 40px;
	font-size:16px;
	border-radius:10px;
	color:#ffffff;
}
.lorem-text{
    padding: 10px 2px;
    text-align: justify;
}
.lorem-text p {
    line-height: 30px;
    font-size: 15px;        
    color: #555;
	font-family:roboto;
}
.Main-Features ul li{
	list-style-type:disc;
}
.main-feature-list li {
	padding:3px;
	font-size:14px;
	font-family:roboto;
    color: #273044;
	margin-bottom: 8px;
}
.Unreal-engine-element li{
	padding:3px;
	font-size:13px;
	font-family:roboto;
    color: #273044;
font-weight:600;
}
.Main-Features h2{
	line-height: 34px;
    letter-spacing: -.3px;
    font-weight: 600;
    font-size: 26px;

}
    
#panel-element a, a:hover, a.active, a:active, a:visited, a:focus {
    color: #273044;

}
.panel-default{
	border:none;
}
.panel-default>.panel-heading{
	border-color:#fff!important;
    margin-top: -31px;

}

.panel-title a{
	
	font-size:16px;
    color: #273044;;
	font-family:roboto;
}
.panel-body {
    position: relative;
    padding: 25px 25px;
    z-index: 30;
    font-size: 14px;
    font-family: roboto;
}
.Unreal-engine-element a{
    font-size: 17px;
    font-family: :roboto;
    padding-left: 14px;
}
#menu1 .fa,.glyphicon {
    color: blue;
    font-size: 19px;
}

#menu1  .btn {
    padding: 3px 7px;
    margin-left: 15px;
    border-radius: 4px;
    background-color: #4ed7a8;
    color: #fff;
}
.panel-heading.collapsed .fa-chevron-down,
.panel-heading .fa-chevron-right {
  display: none;
}

.panel-heading.collapsed .fa-chevron-right,
.panel-heading .fa-chevron-down {
  display: inline-block;
}

i.fa {
  cursor: pointer;
  margin-right: 5px;
}

.collapsed ~ .panel-body {
  padding: 0;
}
.panel-info {
    border-color: #bce8f1;
    width: 100%;
}
.panel-info>.panel-heading {
   
    position: relative;
    padding: 32px 50px;
    text-decoration: none!important;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    z-index: 30;
}

#unreal-engine .panel-info>.panel-heading {
 position: relative;
    padding: 5px;
    text-decoration: none!important;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    z-index: 30;
}
#unreal-engine .panel-info {
    

    margin-left: 33px;
    margin-top: -22px;
   
}
#unreal-engine .fa, .glyphicon {
    color: blue;
    font-size: 15px;
}
#unreal-engine{
padding: 33px 5px;
}

#unreal-engine2 .panel-info>.panel-heading {
 position: relative;
    padding: 5px;
    text-decoration: none!important;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    z-index: 30;
}
#unreal-engine2 .panel-info {

}
#unreal-engine2 .fa, .glyphicon {
    color: blue;
    font-size: 15px;
}
#unreal-engine2{
padding: 33px 5px;
}
#unreal-engine3 .panel-info>.panel-heading {
 position: relative;
    padding: 5px;
    text-decoration: none!important;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    z-index: 30;
}
#unreal-engine3 .panel-info {

}
#unreal-engine3 .fa, .glyphicon {
    color: blue;
    font-size: 15px;
}
#unreal-engine3{
padding: 33px 5px;
}





.Main-productives li{
	list-style-type:disc;
	font-size:16px;
}
#reviews{
	padding-top:25px;
   float: left;
}
#reviews .average_rating_unit {
    min-width: 200px;
    min-height: 200px;
    padding: 40px 15px 13px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
#reviews h1{
    font-size: 70px;
    font-family: roboto;
	
}
#reviews .fa{
	font-size:22px;
}
.enrol-details li{
	
	font-size:18px;
	padding:23px 20px;
	text-align:center;
	border-bottom: 1px solid #e1e2e8;
}
.enrol-details li a{
	padding:10px;
}
.blog-txt img{
	height:77px;
	width:77px
}
.stm-lms-dynamic_sidebar {
	width: 100%;
    max-width: 300px;
    padding: 50px 0 0 30px;
    margin-bottom: 30px;
    border: 1px solid #e1e2e4;
	text-overflow:ellipsis;
}
#stm-lms-dynamic_sidebar a{
	 text-overflow: ellipsis; 
}
#stm-lms-dynamic_sidebar span{
	font-size:12px;
}
.stm_featured_product_price{
    min-width: 60px;
    padding: 4px;
    color: #fff;
    text-align: center;
    background-color:#0d285d;
    border-radius: 3px;
    font-size: 12px;
    text-transform: none;
    line-height: 12px;
}
.product_price li{
	   padding-left:8px;

}
.product_price span{
padding: 3px;
}
.elements-price h5{
margin-top: -20px !important;
margin-left: 14px !important;
}

#archieve .dropdown-toggle {
    border: 1px solid;
	
}

#archieve {
    
  width: 57%;
  border:1px solid #e1e2e4;
  padding-top: 43px;
}

#archieve  h3{
	font-weight:600;
	text-align:left;
}
    #archieve .dropdown-menu {
     position: absolute;
    width: 100%;
    max-width: 100px;
    background-color: #0d285d;
    color: #ffffff;
   margin-left: 94px;
    margin-top: 35px;
	}
	#active-time{
    padding: 100px 2px;
    margin: 0 auto;
    width: 100%;
    max-width: 240px;

	}
#archieve li {
    font-size: 14px;
    text-align: justify;
    padding: 5px 5px;
    border-bottom: 1px dotted #555; 
}
#active-time  a{
	margin-left:35px;
}


#stm-lms-dynamic_sidebar h4{
	font-family:roboto;
	font-weight:600;
	text-align: left;
}
 .table_working_hours {
    display: inline-block;
    padding: 4px 12px;
    background-color: #f13e3e;
    color: #fff;
    border-radius: 3px;
	
}
.enrol-details .glyphicon-time:before {
    content: "\e023";
    padding-left: 20px;
}
.enrol-details .glyphicon-film:before {
    content: "\e009";
    padding-left: 53px;
}
.enrol-details .glyphicon-sort-by-attributes:before {
    content: "\e155";
    padding-left: 37px;
}
.enrol-details .glyphicon-volume-down:before {
    content: "\e037";
    padding-left: 75px;
}
#archieve .fa-chevron-down{
	 position: absolute;
    right: 18%;
    margin-top: 12px;	
}
#archieve .dropdown-toggle{
	    width: 155px;
}
.review-count{
	padding-top:25px;
	font-size:16px;
	font-weight:600;
	font-family:roboto;
}
 #category-info p{
	  position: relative;
     left: 86%;
     padding-top: 51px;
}
.StylemixThemes {
	    border: 1px solid #e1e2e4;
		position: relative;
        height: 159px;
		    padding: 9px;
}
.Themes-txt a{
	margin-top: 0;
    line-height: 22px;
    font-weight: 600;
	font-size:20px;
}
#StylemixThemes .logo-img {
    height: 60px;
    width: 60px;
    margin-left:0;
 margin-top: 17px;
}
#StylemixThemes .date-details{
	position: absolute;
    left: 20%;
    top: 5%;
    font-size: 13px;
}