 h3.orders-txts {
    text-align: right;
}
.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 5px;
}
.panel-heading {
    padding: 6px!important;
}
.text-right {
    text-align: right!important;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    font-size:16px !important;
}
.fa-file-pdf-o {
    font-size: 16px !important;
    color: #fff !important;
    padding-right: 0px !important;
}